.register {
  height: 100vh;
  background-color: #dda15e;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 50%;
    min-height: 600px;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 15px 2px #bc6c25;

    .left {
      flex: 1;
      background: linear-gradient(
          rgba(119, 46, 37, 0.5),
          rgba(119, 46, 37, 0.5)
        ),
        url("https://images.pexels.com/photos/3150547/pexels-photo-3150547.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
          bottom;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 100px;
        line-height: 100px;
      }

      p {
        font-weight: 400;
      }

      span {
        font-size: 14px;
        font-weight: 400;
      }

      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rgb(119, 46, 37);
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;

      h1 {
        color: #555;
      }

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #772e25;
          color: white;
          font-weight: bold;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
}
